In [1]:
import pandas as pd
from pathlib import Path
data = Path("brfss2020.csv")
data_df = pd.read_csv(data)
data_df.head()

,_STATE,FMONTH,IDATE,IMONTH,IDAY,IYEAR,DISPCODE,SEQNO,_PSU,CTELENM1,...,_RFPSA23,_CLNSCPY,_SGMSCPY,_SGMS10Y,_RFBLDS4,_STOLDNA,_VIRCOLN,_SBONTIM,_CRCREC1,_AIDTST4
0,1.0,1.0,1042020,1,4,2020,1100.0,2020000001,2.020000e+09,1.0,...,NaN,1.0,3.0,3.0,3.0,3.0,3.0,3.0,1.0,1.0
1,1.0,1.0,2072020,2,7,2020,1200.0,2020000002,2.020000e+09,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN
2,1.0,1.0,1232020,1,23,2020,1100.0,2020000003,2.020000e+09,1.0,...,NaN,1.0,3.0,3.0,3.0,3.0,3.0,3.0,1.0,2.0
3,1.0,1.0,1092020,1,9,2020,1100.0,2020000004,2.020000e+09,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
4,1.0,1.0,1042020,1,4,2020,1100.0,2020000005,2.020000e+09,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0

Set up columns we want

In [ ]:
columns_to_keep = ["_STATE", "IDATE", "IYEAR", "SLEPTIM1"]
sleep_df = data_df.filter(items=columns_to_keep)

Top 5 states with most coffee cups per day
1. Michigan
2. Delaware
3. West Virginia
4. Ohio
5. Nebraska
Make a df for each

In [ ]:
michigan_sleep_df = sleep_df.loc[sleep_df["_STATE"] == 26]
delaware_sleep_df = sleep_df.loc[sleep_df["_STATE"] == 10]
wV_sleep_df = sleep_df.loc[sleep_df["_STATE"] == 54]
ohio_sleep_df = sleep_df.loc[sleep_df["_STATE"] == 39]
nebraska_sleep_df = sleep_df.loc[sleep_df["_STATE"] == 31]

Top 5 states with least coffee cups per day
1. Utah
2. Arizona
3. Minnesota
4. New Jersey
5. Massachusetts

In [ ]:
utah_sleep_df = sleep_df.loc[sleep_df["_STATE"] == 49]
az_sleep_df = sleep_df.loc[sleep_df["_STATE"] == 4]
minn_sleep_df = sleep_df.loc[sleep_df["_STATE"] == 27]
nJ_sleep_df = sleep_df.loc[sleep_df["_STATE"] == 34]
mass_sleep_df = sleep_df.loc[sleep_df["_STATE"] == 25]

In [ ]:
#Function to find average sleep
def mean_sleep(df, column):
    #Calculate mean for a given column, in this case sleep time
    #parameters: - df: the input dataframe
    #column: the name of the column we want the mean for
    column_mean = df[column].mean()
    return column_mean

In [ ]:
#Top 5
mich_avg_sleep = mean_sleep(michigan_sleep_df, 'SLEPTIM1')
del_avg_sleep = mean_sleep(delaware_sleep_df, 'SLEPTIM1')
wV_avg_sleep = mean_sleep(wV_sleep_df, 'SLEPTIM1')
ohio_avg_sleep = mean_sleep(ohio_sleep_df, 'SLEPTIM1')
ne_avg_sleep = mean_sleep(nebraska_sleep_df, 'SLEPTIM1')

#Bottom 5
utah_avg_sleep = mean_sleep(utah_sleep_df, 'SLEPTIM1')
az_avg_sleep = mean_sleep(az_sleep_df, 'SLEPTIM1')
minn_avg_sleep = mean_sleep(minn_sleep_df, 'SLEPTIM1')
nJ_avg_sleep = mean_sleep(nJ_sleep_df, 'SLEPTIM1')
mass_avg_sleep = mean_sleep(mass_sleep_df, 'SLEPTIM1')